<div class="d-flex flex-column h-100" *ngIf="(questions | async) as questionArr">
    <header>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
            <app-header [answers]="answers" [noOfQuestions]="questionArr.length" [maxTime]="10 * 60 * 1000" [selectedQuestion]="activeQuestionIndex"></app-header>
        </div>
    </header>
    <main class="container d-flex py-3">
        <aside class="col-4 border py-2">
            <h3>Instruction</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        </aside>
        <section class="col-8 border mx-2 py-2 d-flex flex-column">
            <div class="flex-grow-1">
                <app-question-area [question]=questionArr[activeQuestionIndex] [answer]="answers[activeQuestionIndex]" (answerChange)="answerChange($event, questionArr[activeQuestionIndex].answer)"></app-question-area>
            </div>
            <div class="d-flex justify-content-between">
                <button class="btn btn-info" [disabled]="activeQuestionIndex === 0" (click)="prevClickHandler()" type="button">Prev</button>
                <button class="btn btn-info" type="button" (click)="submitTest()">Submit</button>
                <button class="btn btn-info" [disabled]="answer && answers[activeQuestionIndex]" (click)="nextClickHandler()" type="button">Next</button>
            </div>
        </section>
    </main>
    <footer class="footer">

    </footer>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Submit Test</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
        </div>
        <div class="modal-body">
            <p><strong>Are you sure you want to Submit test?</strong></p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(questionArr)">Ok</button>
        </div>
    </ng-template>
</div>